.env
apikey.txt
checkplayerstats.js
index copy.js
node_modules/
player_data_zyph.json
player_data_target.json
player_data_Phoenic.json
package-lock.json
linkedAccounts.json
Lucky.txt
player_data.json
player_data_Tony.json
interactioncreate.txt
interactioncreate.js
